header{
	/*position: fixed;*/
	width:100%;
	height: 140px !important;
	background-color: #18487d;
}
.fixed{
	position: fixed !important;
	top: 0px;
}
/*.subNav.fixed{
	top:50px !important;
	z-index: 2 !important;
}*/
/*.scrollHeight{
	height: auto;
	display: block !important;
}*/
.imgholder1x1{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.imgholder1x1:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.imgholder1x1 img {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
}
.card{
	display: flex;
	align-items: center;
	justify-content: center;
}
.navImg{
	overflow: hidden;
	height: 100%;
}
.navImg > img{
	height: 90%;
	margin-top: 0.5em;
}
label.active{
	padding-bottom: 5px;
}
#headImageHolder{
	height: 90px;
}
#navHolder{
	position: static;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
	height: 50px;
	background-color: #161616 !important;
	line-height: 50px;
}
/*nav{
	/*height: 60px !important;
	top:100px;
	height: 50px;
	line-height: 50px;
}*/
/*nav div.nav-wrapper{
	height: inherit;
	line-height: inherit;
	background-color: #161616 !important;
}*/

footer.page-footer{
	margin-top: 0px !important;
	height: 30px;
	line-height: 30px;
	background-color: #161616 !important;
}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: url(/static/images/bg.png) repeat;
}

main{
	height: auto;
	flex: 1 0 auto;
	display: flex;
}
.container-div {
	display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
.row{
	margin-top:20px;
	margin-bottom: 0px;
}
.cardContainer{
	width:400px;
}

.loginCard{
	width:400px;
}

.consentCard{
	min-width:400px;
	width: 50%;
}
.pageContent{
	width: 100%;
	min-height: 400px;
}

center.card-content{
	width: 90%;
	margin: 0 auto;
}
a.card-content{
	width:100%;
	padding-left:0px !important; 
	padding-right:0px !important;
}
a.card-content .row{
	margin: 0px !important;
	width:100%;
	height:100%;
}
button.btn, i.btn1{
	background-color: #18487d !important;	
}

.contentWidth{
	width: 100%;
}

.loginTitle{
	font-family: Roboto;
	font-weight: bolder !important;
	color: #18487d;
	line-height: 30px !important;
	margin-top: 0px !important;
	margin-bottom: 30px !important;
}

.adminTitle{
	font-family: Roboto;
	font-weight: bold !important;
	color: #18487d;
	margin-top: 0px !important;
}
#admin-card{
	height: 100px;
}

.forgot{
	margin-top: 30px !important;
	margin-bottom: 0px !important;
}

.bodyText{
	font-size: 1.15rem;
	color: #000 !important;
}

.subNav{
	overflow: hidden;
	background-color: #009688 !important;
	/*height: 50px;*/
	color: #fff;
	font-weight: 400;
	line-height: 50px;
	font-size: 1.5rem;
	width: 100%;
	top:50px;
	z-index: 2;
}
.subNav .col{
	padding: 0.75rem 0.75rem;
}

.container{
	margin: 0px;
	width: 100%;
	max-width: none;
}

.name{
	text-align: left !important;
	margin-top: 0px;
	font-weight: 500;
	color: #000;
	text-transform:capitalize;
}

/*.avatar{
	padding-right: 0px !important;
}
*/
.brand-logo{
	margin-left: 10px;
	text-transform:capitalize;
	color: #fff;
}
.subBrand{
	display: block;
	margin-left: 10px;
	text-transform:capitalize;
	font-size: 1.3rem;
	font-weight: 200;
	line-height: 0px;
}

.waves-effect{
	display: inherit;
	transition: all .2s ease-out;
}

.loading{
	display: block;
	position: fixed;
	z-index: 1000;
	background-color: #18487d;
	height: 100%;
	width: 100%;
}
.loadPos{
	position: fixed;
	top: 40%;
	right: 50%;
}
.spinner-layer{
	color:#161616 !important;
}

.back{
	font-size: 2rem;
}
.avatarHead{
	margin: 5px;
	height: 65px;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

table tr{
	height: 10px !important;
}
table{
	margin-bottom: 1.75rem;
}
#evalform{
	width: 95%;
	margin: auto;
	margin-bottom: 1.75rem;
}
td input{
	padding: 0px !important;
	margin: 0px !important;
}
td {
	padding: 0px !important;
}
thead th{
	font-weight: bold !important;
	padding-top:2.75rem;
}
.rating{
	width: 15%;
}
.rating2{
	width: 40%;
}
#status{
	line-height: 100%;
	color: red;
	font-size: 0.8rem;
}


.custom-btn.waves-effect.waves-light .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
     background-color: rgba(24, 72, 125, 0.95);
 }

.disabledCard, .disabledCard h5.name.flow-text, .disabledCard p.bodyText.flow-text{
	background-color: #dfdfdf !important;
	box-shadow: none;
	color: #9f9f9f !important;
	cursor: default;
}

div.card.disabledCard a.waves-effect.card-content{
	-webkit-tap-highlight-color:none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
div.card.disabledCard a.waves-effect.card-content .waves-ripple{
	display: none;
}

/*a.waves-effect.card-content{
	padding-left: 0px;
	padding-right: 0px;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.subNav div.row{
	margin: 0px;
}

.subj{
	text-transform:capitalize;
}

.scores{
	font-size: 1.2rem;
	padding-left:20px;
}
.card-action a{
	color:#18487d !important;
}
td{
	padding-right: 10px;
	padding-left: 10px;
}