body{overflow: auto !important;display: flex;min-height: 100vh;flex-direction: column;background: url(/static/images/bg.png) repeat;}
main{height: auto;flex: 1 0 auto;display: flex;}
.row{margin: 0px !important;width: 100% !important;}
label{color: #7c7c7c !important;}
label.active{color: #26a69a !important;padding-bottom: 0px;}
li {list-style-type: none;}
header{width:100%;height: 140px !important;background-color: #18487d;}
#headImageHolder{height: 90px;}
.navImg{overflow: hidden;height: 100%;}
.navImg > img{height: 90%;margin-top: 0.5em;}
.navImgSmall{position: absolute;overflow: hidden;width: 100%;bottom: 50px;}
.navImgSmall > img{width: 90%;margin: auto;}
#navHolder{position: static;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; height: 50px;background-color: #161616 !important;line-height: 50px; z-index: 1000;}
#navHolder li{padding-left: 0px;padding-right: 0px;z-index: 1001;}
#navHolder i{font-size: 2.1rem;line-height: 150%;padding-right: 0.7rem;z-index: 1000;}
.popover{z-index: 900 !important;}
.subNav{overflow: hidden;background-color: #009688 !important;color: #fff;font-weight: 400;font-size: 1.5rem;width: 100%;top:50px;z-index: 2;}
.line-height{line-height: 50px;}
.subNav .col{padding: 0.75rem;}
.imgholder1x1{overflow: hidden;position: relative;width: 100%;}
.imgholder1x1:before{content: "";display: block;padding-top: 100%;}
.imgholder1x1 img {position: absolute;top: 0;left:0;width: 100%;}
.brand-logo{margin-left: 10px;text-transform:capitalize;color: #fff;}
.subBrand{display: block;margin-left: 10px;text-transform:capitalize;font-size: 1.3rem;font-weight: 200;}
.card{display: flex;align-items: center;justify-content: center;}
/*center.card-content{width: 90%;margin: 0 auto;}*/
a.card-content{width:100%;padding-left:0px !important; padding-right:0px !important;display: flex;}
.custom-btn.waves-effect.waves-light .waves-ripple {background-color: rgba(24, 72, 125, 0.95);}
.disabledCard, .disabledCard h5.name.flow-text, .disabledCard p.bodyText.flow-text{background-color: #dfdfdf !important;box-shadow: none;color: #9f9f9f !important;cursor: default;}
div.card.disabledCard a.waves-effect.card-content{-webkit-tap-highlight-color:none;-webkit-transition: none;-moz-transition: none;-o-transition: none;-ms-transition: none;transition: none;}
div.card.disabledCard a.waves-effect.card-content .waves-ripple{display: none;}
.container,.container-admin{margin: 0px;width: 100%;max-width: none;}
.container-admin{background: #fff;}
.container-div {display: flex;flex: 1;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;position: relative;}
button.btn, button.btn-large, i.btn1{background-color: #18487d !important;font-weight: normal;}
.waves-effect{display: inherit;transition: all .2s ease-out;}
.bodyText{font-size: 1.15rem;color: #000 !important;}
table{margin-bottom: 1.75rem;}
td input{padding: 0px !important;margin: 0px !important;}
td {padding-top: 0px;padding-bottom: 0px;padding-right: 10px;padding-left: 10px;}
td::first-letter {text-transform: capitalize;}
#evalform{width: 95%;margin: auto;margin-bottom: 1.75rem;}
#evalform thead{margin-left:-20px;}
#evalform th{font-size: 1.4rem;;font-weight: bold !important;padding-top:2rem;}
#evalform td {vertical-align:bottom;font-size: 1.2rem; padding-top: 1rem;}
#evalform input {border-bottom-color: transparent;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}
input{margin-top: 5px !important;}
input[type=number] {-moz-appearance:textfield;}
.print-holder button{text-align: right;float: right;}
.table-title-here{position: relative;margin-bottom: 10px !important;}
.table-title-here > .print-holder{position: absolute;bottom: 0 !important;right: 0 !important;}
.card-action a{color:#18487d !important;}
footer.page-footer{margin-top: 0px !important;height: 30px;line-height: 30px;background-color: #161616 !important;}
.name{text-align: left !important;margin-top: 0px;font-weight: 500;color: #000;text-transform:capitalize;}
.rating{width: 20%;}
/*Admin Page*/
.eval-division{margin-top: 20px;margin-bottom: 40px;}
.eval-division>.col.l12.m12.s12>h3, th>h4, .past-title, .rating-title{color: #EA4A4F;}
.eval-division> .col.l12.m12.s12  h5, .subBrand{-webkit-font-smoothing: antialiased;}
.eval-division>.col.l12.m12.s12>.row{border-left: 3px solid #009688;margin-left:20px;}
#maincontent{background-color: #FCFCFC;box-shadow: inset 2px 0px 5px 0 rgba(0,0,0,0.16), inset 2px 0px 10px 0 rgba(0,0,0,0.12);}
#sidebar{padding-top: 200px;position: absolute;}
#sidebar li{font-size: 1.1rem;transition: all 0.2s ease-in;}
#sidebar .active{font-size: 1.3rem;transition: all 0.2s ease-out;}
#linkSpace td{height: 1.8rem;line-height: 100%;}
#createSectionForm th, #linkSpace th{padding-top: 15px;}

/*Register & login*/
.error-message-bottom{line-height: 100%;color: red;font-size: 1.2em;}
.cardContainer{width:400px;}
.loginTitle{font-family: Roboto;font-weight: bolder !important;color: #18487d;line-height: 30px !important;margin-top: 0px !important;margin-bottom: 30px !important;}
.forgot{margin-top: 30px !important;margin-bottom: 0px !important;}

/*****DUMP******/
/*.fixed{position: fixed !important;top: 0px;}*/
/*.fixedSidebar{position: fixed !important;top: 48px;}*/
/*.subNav.fixed{top:50px !important;z-index: 2 !important;}*/
/*.scrollHeight{height: auto;display: block !important;}*/
/*.loading{display: block;position: fixed;z-index: 1000;background-color: #18487d;height: 100%;width: 100%;}
.loadPos{position: fixed;top: 40%;right: 50%;}
.spinner-layer{color:#161616 !important;}*/
/*nav{/*height: 60px !important;top:100px;height: 50px;line-height: 50px;}*/
/*nav div.nav-wrapper{height: inherit;line-height: inherit;background-color: #161616 !important;}*/
/*.pageContent{width: 100%;min-height: 400px;}*/
/*a.card-content .row{width:100%;height:100%;*/
/*.NavEval{line-height: inherit;}*/
/*.avatar{padding-right: 0px !important;}*/
/*.subNav div.row{margin: 0px;}*/

/*TABLE SORT*/
th.header { background-image: url(../images/bg.gif); cursor: pointer; background-repeat: no-repeat; background-position: center left; padding-left: 20px; }
th.headerSortUp { background-image: url(../images/asc.gif); border-radius: 2px 2px 0px 0px;background-color: rgba(51,153,255,0.3); }
th.headerSortDown {border-radius: 2px 2px 0px 0px;background-image: url(../images/desc.gif); background-color: rgba(51,153,255,0.3);}

.instruc h6{margin: 0px !important;font-weight: 300;}
.instruc.hide-on-med-and-up .col{padding-bottom: 0px !important;float: left;}
.instruc.hide-on-small-only .col{padding-bottom: 0px !important;float: right;}
.instruc span{ font-size: 1.1rem !important; font-weight: 500; text-transform: uppercase;}
#user-dropdown li, #slide-out{background-color: #161616 !important;}
#user-dropdown a, #slide-out a{color: #fff !important;}
#navHolder .dropdown-button{text-transform: uppercase;}
#navHolder .dropdown-button i{ margin-left: 0px; height: 100%; line-height: inherit;}
.material-tooltip .backdrop{ background-color: #b71c1c !important;}

.col-centered{float: none;margin: 0 auto;}